:root {
    --gris: #191E2E;
    --nav-h: 72px;
    --dot-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px; 
  font-weight: lighter;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}
h2 {
  font-size: 40px; 
  font-weight: 100;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

h3 {
  font-weight: 100;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  color: aliceblue;
}

html, body { height: 100%; margin: 0; }

.thin {
  font-weight: 100;
}

html {
  scroll-snap-type: y mandatory;    
  scroll-behavior: smooth;          
}
  

.slide {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  scroll-snap-align: start;  
}


section.slide { margin: 0; }

.zoom {
  display: inline-block;             
  transition: transform .8s ease;
  will-change: transform;          
  transform-origin: center;
}

.zoom:hover,
.zoom:focus-visible {
  transform: scale(1.06);
}




.dotnav{
  position: fixed;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.dotnav a.active {
  transform: scale(1.6);
  opacity: 1;
  background: #fff;
}


.dotnav a{
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 999px;
  display: block;
  background: rgba(255,255,255,.8);
  transition: transform .3s ease, background-color .3s ease, opacity .3s ease;
  opacity: .7;
}

.dotnav a:hover{
  transform: scale(1.6); opacity: 1;
}




.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    gap: 100px;
    z-index: 1000;  
    box-shadow: 0 2px 25px rgba(0,0,0,0.45);
    backdrop-filter: blur(2px);
}

nav a {
  text-shadow: 0 15px 20px rgba(0,0,0,0.45);
  color: white;               
  text-decoration: none;      
  font-weight: 100;
  font-size: 20px;
  transition: color 0.3s ease;

}

.presentation {
  display: flex;
  padding-left: 25vh;
  padding-right: 25vh;
}



.box {
  display: flex;
  flex-direction: column;   
  align-items: center;     
  justify-content: center;
  text-align: center;
  height: 100%;           
}


.bg-image1 {
    background: url("fond-rouge.jpg") center / cover no-repeat;
}

.fleche {
  width: 20px;
  height: 20px;
}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section1 h1 {
  color: white;
  text-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}

.section1 img {
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.7));
}

.bg-image2 {
    background: url("fond3.jpg") center / cover no-repeat;
}

.section2 {
  min-height: 100vh;        
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}



.bg-image3 {
    background: url("section3.jpg") center / cover no-repeat;
}

.section3 {
  min-height: 100vh;          
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}


.bg-image4 {
    background: url("fond2.jpg") center / cover no-repeat;
}


*
.section4 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    border: solid 1px black;
}


.bg-image5 {
    background: url("fond4.jpg") center / cover no-repeat;
}




.paragraphe-box {
  background: rgba(0,0,0,.35);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 32px 40px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,.25);
  width: min(1200px, 92%);       
  margin: 0 auto;
    
}




.paragraphe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; 
}


.paragraphe2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 40px 160px;
  padding: 0;   
}


.paragraphe3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 40px 120px;
  padding: 0;   
}
.paragraphe2 a {
  color: white;         
  text-decoration: none;  
  display: block;        
}








@media (max-width: 767px){
  :root {
    --gris: #191E2E;
    --nav-h: 72px;
    --dot-size: 5px;
  }  

  .zoom:hover,
.zoom:focus-visible {
  transform: scale(1.00);
}

  html {
  scroll-snap-type: y proximity;   
  scroll-behavior: smooth;       
  scroll-padding-top: 0;
   }      
  .slide {
    height: auto;                         
    scroll-snap-align: none;              
    place-content: center; 
    text-align: center; 
    box-sizing: border-box;
    display: grid;         
    padding-top: 85px; 
    padding-bottom: 40px;

     
    
  }
  .slide { 
    scroll-snap-align: start;     
  }


  .dotnav{
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;   
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 70px;
  z-index: 1001;  
  box-shadow: 0 2px 25px rgba(0,0,0,0.45);
  backdrop-filter: blur(10px);
  }

  .dotnav a{
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 999px;
    display: block;
    opacity: .7;
  }

  h1 {
    font-size: 40px; 
    font-weight: lighter;
    font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  }

  .section1 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
  }

  .paragraphe-box {
    background: rgba(0,0,0,.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 32px 25px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,.25);
    width: 85%;       
    margin: 0 auto;
      
  }

  .paragraphe {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 40px 80px;
    padding: 0; 
    
  }

  .hidden {
    display: none;
  }

}



